{% extends "places/base.html" %}
{% load static %}

{% block title %}Головна — Улюблені місця{% endblock %}

{% block content %}
    <h1>Випадкове улюблене місце</h1>

    {% if featured_place %}
        <h2>{{ featured_place.title }}</h2>
        
        <img src="{% static 'places/location.jpg' %}" alt="Фото локації" width="200">
        <p><strong>Тип:</strong> {{ featured_place.type }}</p>
        <p><strong>Опис:</strong> {{ featured_place.short_description|default:featured_place.long_description|truncatewords:10 }}</p>
        <p><strong>Рейтинг:</strong> <span class="star-rating rating-{{ featured_place.rating }}"></span></p>
        <p><a href="{% url 'place_detail' featured_place.id %}">Переглянути деталі</a></p>
    {% else %}
        <p>Це сайт для того, щоб дізнатись про нові цікаві місця або додати свої. Натисни кнопку нижче, щоб система обрала для тебе локацію на сьогодні!</p>
    {% endif %}
    
    <br><br>
    <a href="{% url 'home' %}?roll=true">
        <button type="button">Куди піти? 🎲</button>
    </a>
{% endblock %}