{% extends "places/base.html" %}
{% load static %}

{% block title %}Усі улюблені місця{% endblock %}

{% block content %}
    <h1>Список улюблених місць Києва</h1>

    {% if places %}
        <div class="places-container">
            {% for place in places %}
                <div class="place-card">
                    
                    <img src="{% static 'places/location.jpg' %}" alt="Фото" style="width: 140px; height: 100px; min_wight: 140px; object_fit: cover; flex-shrink: 0;" class="place-img">
                    
                    
                    <div>
                        <strong>
                            <a href="{% url 'place_detail' place.id %}" class="place-title">{{ place.title }}</a>
                        </strong>
                        <br>
                        <span class="place-type">Тип: {{ place.type }}</span>
                        <br>
                        <span class="place-rating">Рейтинг: <span class="star-rating rating-{{ place.rating }}"></span></span>
                        <p class="place-description">
                            {{ place.short_description|default:place.long_description|truncatewords:10 }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Список місць порожній.</p>
    {% endif %}
{% endblock %}